.referenceImg{
    display: none;
}

#preview{
    height: fit-content;
    width: fit-content;
}

.button {
    font-size: 30px;
}

canvas {
    width: 60%;
    height: 60%;
}

#label-container {
    position: absolute;
    left:450px;
}

#webcam-container {
    position: absolute;
    width: 400px;
    height: 400px;
}