.referenceImg{
    display: none;
}

#preview{
    height: fit-content;
    width: fit-content;
}

.button {
    font-size: 30px;
}

#hidden {
    display: none;
}

canvas {
    width: 60%;
    height: 60%;
}
